    /**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
    */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    body {
    line-height: 1;
    }
    ol, ul {
    list-style: none;
    }
    blockquote, q {
    quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
	/*end of reset*/
	



	header, footer, nav, aside {
		display: block;
	}
	
	body {
		color: #666666;
		background-color: #f9f8f6;
		background-image: url(bamboo_forest_house.jpg);
		background-position: center;
        background-size: cover;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
		line-height: 1.4em;
		margin: 0px;
	}
	
	.wrapper {
		width: 940px;
		margin: 20px auto 20px auto;
		border: 2px solid #000000;
		background-color: #ffffff;
	}
	
	header {
		height: 160px;
	}
	
	h1 {
        text-indent: 15px;
		width: 940px;
		height: 130px;
		margin: 95px 0px 0px 0px;
        font-weight: bolder;
        font-size: 64px;
        font-family: fantasy;
	}
	
	h2 {
        font-weight: normal;
		margin: 10px 0px 5px 0px;
		padding: 0px;
	}
	
	nav, footer {
		clear: both;
		color: #ffffff;
		background-color: #aeaca8;
		height: 30px;
	}
	
	nav ul {
		margin: 0px;
		padding:5px 0px 5px 30px;
	}
	
	nav li {
		display: inline;
		margin-right: 40px;
	}
	
	nav li a {
		color: #ffffff;
        text-decoration: none;
	}
	
	nav li a:hover {
		background-color: #689a72;
	}

    nav li a:active {
		background-color: #689a72;
	}
	
	aside {
		width: 230px;
		float: left;
		padding: 0px 0px 0px 20px;
	}
	
	.catering {
        float: left;
        width: 659px;
        border-right: 1px solid #eeeeee;
        margin-left: 25px;
    }
	
    .contact, .location {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    
    .menu {
        text-align: center;
    }

    .menu ul {
        padding-top: 45px;
    }

    .menu, .catering {
        max-height: 500px;
        min-height: 500px;
        overflow: scroll;
    }

	footer {
		font-size: 80%;
		padding: 7px 0px 0px 20px;
	}
